<section class="container">
  <div class="card" style="padding: 5%; border-radius: 2%">
    <h1 *ngIf="!updateflag">Add Asset</h1>
    <h1 *ngIf="updateflag">Edit Asset</h1>
    <form class="form" (ngSubmit)="submitAsset()">
      <div class="form-group">
        <label for="Type">Type</label>
        <select class="form-select" [(ngModel)]="asset.tyape" name="type">
          <option selected>Select Type</option>
          <option value="Laptop">Laptop</option>
          <option value="Desktop">Desktop</option>
          <option value="Moniter">Moniter</option>
          <Option value="Keyboard">Keyboard</Option>
          <option value="Mouse">Mouse</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Name">Name</label>
        <input
          type="text"
          placeholder="Name"
          name="Name"
          class="form-control"
          required
          [(ngModel)]="asset.name"
        />
      </div>
      <div class="form-group">
        <label for="Proprietary">Proprietary</label>
        <select
          class="form-select"
          name="proprietary"
          [(ngModel)]="asset.proprietary"
        >
          <option selected>Select Proprietary</option>
          <option value="Own">Own</option>
          <option value="Rent">Rent</option>
        </select>
      </div>
      <div class="form-group">
        <label for="configuration">Configuration</label>
        <input
          type="text"
          placeholder="Configuration"
          name="configuration"
          class="form-control"
          required
          [(ngModel)]="asset.configuration"
        />
      </div>
      <div class="form-group">
        <label for="serviceTag">Service Tag</label>
        <input
          type="text"
          placeholder="Service Tag"
          name="serviceTag"
          class="form-control"
          required
          [(ngModel)]="asset.serviceTag"
        />
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input
          type="text"
          placeholder="Model"
          name="model"
          class="form-control"
          required
          [(ngModel)]="asset.model"
        />
      </div>
      <div class="form-group">
        <label for="hostName">Host Name</label>
        <input
          type="text"
          placeholder="Host Name"
          name="hostName"
          class="form-control"
          required
          [(ngModel)]="asset.hostName"
        />
      </div>
      <div class="form-group">
        <label for="oem">OEM</label>
        <select class="form-select" name="oem" [(ngModel)]="asset.oem">
          <option selected>Select Option</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="form-group">
        <label for="expiryDate">Expiry Date</label>
        <input
          type="date"
          placeholder="Expiry Date"
          name="expiryDate"
          class="form-control"
          required
          [(ngModel)]="asset.expiryDate"
        />
      </div>
      <div class="form-group">
        <label for="owner">Owner</label>
        <input
          type="text"
          placeholder="Owner"
          name="owner"
          class="form-control"
          required
          [(ngModel)]="asset.owner"
        />
      </div>
      <div class="form-group">
        <label for="remarks">Remarks</label>
        <input
          type="text"
          placeholder="Remarks"
          name="remarks"
          class="form-control"
          required
          [(ngModel)]="asset.remarks"
        />
      </div>
      <div class="form-group">
        <label for="ram">RAM</label>
        <input
          type="text"
          placeholder="RAM"
          name="ram"
          class="form-control"
          required
          [(ngModel)]="asset.ram"
        />
      </div>
      <div class="form-group">
        <label for="vendorId">Vendor</label>
        <select
          class="form-select"
          [(ngModel)]="asset.vendorId"
          name="vendorId"
        >
          <option selected>Select Vendor</option>
          <option *ngFor="let item of vendors" value="{{ item.id }}">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div *ngIf="!updateflag" class="form-group">
        <input
          type="submit"
          class="btn btn-primary"
          style="position: relative; left: 40%"
          value="Submit"
        />
      </div>
      <div *ngIf="updateflag" class="form-group">
        <input
          type="submit"
          class="btn btn-primary my-auto"
          style="position: relative; left: 40%"
          value="Update"
        />
      </div>
    </form>
  </div>
</section>
