<section class="TableContainer">
  <h3 style="text-align: center" class="mb-3">{{ title }}</h3>
  <kendo-grid
    [kendoGridBinding]="assets"
    [pageable]="true"
    [pageSize]="5"
    [groupable]="true"
    [sortable]="true"
    (edit)="editAsset($event)"
    (remove)="deleteAsset($event)"
    [columnMenu]="menuSettings"
    filterable="menu"
    [navigable]="true"
    class="shadow"
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        kendoButton
        [routerLink]="['/dashboard/add-asset']"
        routerLinkActive="router-link-active"
        themeColor="success"
      >
        Add New Asset
      </button>
      <kendo-dropdownbutton
        [data]="dropdownMenu"
        textField="actionName"
        themeColor="error"
        >Show <i class="bi bi-chevron-down"></i>
      </kendo-dropdownbutton>
    </ng-template>
    <kendo-grid-column
      field="tyape"
      title="Type"
      [width]="100"
    ></kendo-grid-column>
    <kendo-grid-column
      field="name"
      title="Name"
      [width]="100"
    ></kendo-grid-column>
    <kendo-grid-column
      field="proprietary"
      title="Proprietary"
      [width]="100"
    ></kendo-grid-column>
    <kendo-grid-column
      field="configuration"
      title="Configuration"
      [width]="100"
    ></kendo-grid-column>
    <kendo-grid-column
      field="serviceTag"
      title="Service Tag"
      [width]="100"
    ></kendo-grid-column>
    <kendo-grid-column
      field="model"
      title="Model"
      [width]="100"
    ></kendo-grid-column>
    <kendo-grid-column
      field="expiryDate"
      title="Expiry Date"
      [width]="100"
      filter="date"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.expiryDate | date }}
      </ng-template></kendo-grid-column
    >
    <kendo-grid-column field="ram" title="Ram" [width]="80"></kendo-grid-column>
    <kendo-grid-column
      title="Remarks"
      field="remarks"
      [width]="120"
    ></kendo-grid-column>
    <kendo-grid-column field="vendorId" title="Vendor" [width]="100"
      ><ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.vendorId | vendorsName : vendors }}
      </ng-template></kendo-grid-column
    >
    <kendo-grid-command-column title="command" [width]="140">
      <ng-template
        kendoGridCellTemplate
        let-dataItem
        style="text-align: center"
      >
        <button
          kendoButton
          themeColor="info"
          (click)="openAssignForm(dataItem.id)"
          *ngIf="assignFlag"
        >
          <i class="bi bi-person-fill-up"></i>
        </button>
        <button kendoGridEditCommand themeColor="warning">
          <i class="bi bi-pen"></i>
        </button>
        <button kendoGridRemoveCommand themeColor="error">
          <i class="bi bi-trash3"></i>
        </button>
      </ng-template>
    </kendo-grid-command-column>
    <ng-template kendoGridNoRecordsTemplate>
      <p>There is no data to display.</p>
    </ng-template>
  </kendo-grid>
</section>
