<section class="TableContainer">
  <kendo-grid
    [kendoGridBinding]="assets"
    [pageable]="true"
    [pageSize]="5"
    [groupable]="true"
    [sortable]="true"
    (edit)="editAsset($event)"
    (remove)="deleteAsset($event)"
    filterable="menu"
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        [routerLink]="['/dashboard/add-asset']"
        routerLinkActive="router-link-active"
        class="btn btn-success"
      >
        Add New Asset
      </button>
    </ng-template>
    <kendo-grid-column field="tyape" title="Type"></kendo-grid-column>
    <kendo-grid-column field="name" title="Name"></kendo-grid-column>
    <kendo-grid-column
      field="proprietary"
      title="Proprietary"
    ></kendo-grid-column>
    <kendo-grid-column
      field="configuration"
      title="Configuration"
    ></kendo-grid-column>
    <kendo-grid-column
      field="serviceTag"
      title="Service Tag"
    ></kendo-grid-column>
    <kendo-grid-column field="model" title="Model"></kendo-grid-column>
    <kendo-grid-column field="expiryDate" title="Expiry Date">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.expiryDate | date }}
      </ng-template></kendo-grid-column
    >
    <kendo-grid-column field="ram" title="Ram"></kendo-grid-column>
    <kendo-grid-column field="vendorId" title="Vendor"></kendo-grid-column>
    <kendo-grid-command-column title="command" [width]="157">
      <ng-template kendoGridCellTemplate>
        <button kendoGridEditCommand class="btn btn-danger">
          <i class="bi bi-pen"></i>
        </button>
        <button kendoGridRemoveCommand class="btn btn-warning">
          <i class="bi bi-trash3"></i>
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</section>
