<section class="container">
  <div class="row">
    <div class="col-6 my-auto mx-auto">
      <div class="row mt-4 mb-4 mx-auto">
        <div class="card col-4 mx-auto text-center" style="width: 15rem">
          <div class="card-body">
            <h5 class="card-title">Total Assets</h5>

            <p class="card-text">
              <i class="bi bi-laptop"></i> <i class="bi bi-pc-display"></i>
            </p>
            <h5 class="card-subtitle text-muted">
              {{ totalAssetCount }}
            </h5>
          </div>
        </div>
        <div class="card col-4 mx-auto text-center" style="width: 15rem">
          <div class="card-body">
            <h5 class="card-title">Total Vendors</h5>

            <p class="card-text"><i class="bi bi-people-fill"></i></p>
            <h5 class="card-subtitle text-muted">
              {{ totalVendorCount }}
            </h5>
          </div>
        </div>
      </div>
      <div class="row mt-4 mb-4 mx-auto">
        <div class="card col-4 mx-auto text-center" style="width: 15rem">
          <div class="card-body">
            <h5 class="card-title">Assigned Asset</h5>
            <p class="card-text">
              <i class="bi bi-person-workspace"></i>
            </p>
            <h5 class="card-subtitle text-muted">
              {{ totalAssetCount - unassignedAssetCount }}
            </h5>
          </div>
        </div>
        <div class="card col-4 mx-auto text-center" style="width: 15rem">
          <div class="card-body">
            <h5 class="card-title">Unassigned Assets</h5>
            <p class="card-text">
              <i class="bi bi-person-x-fill"></i>
            </p>
            <h5 class="card-subtitle text-muted">
              {{ unassignedAssetCount }}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row my-auto">
        <div class="col-10 mx-auto">
          <kendo-chart
            title="Assets By types"
            (seriesClick)="onPieChartClick($event)"
          >
            <kendo-chart-legend position="bottom"></kendo-chart-legend>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="pie"
                [data]="assetsCount"
                field="count"
                categoryField="type"
                [labels]="{ visible: true, content: labelContent }"
              >
              </kendo-chart-series-item>
            </kendo-chart-series>
          </kendo-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-auto">
    <div class="col-10 mx-auto">
      <kendo-chart
        (seriesClick)="onBarChartClick($event)"
        title="Vendor And Asset Status"
        style="height: 250px"
      >
        <kendo-chart-series>
          <kendo-chart-series-item
            type="column"
            [data]="assetsByVendorsCount"
            field="count"
            categoryField="name"
          >
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
  </div>
  <!-- <app-popup ></app-popup> -->
  <p class="text-center mt-4">Note - Click on any chart to see more details</p>
</section>
